Create CLoudFormation code only for AWS Servies present in <explain></explain>

<explain>
{{ explain }}
</explain>

Mimic the practices of example CloudFormation templates.

- Use AWS CloudFormaton Pseudo parameters where necessary.

Do not return examples, only the generated CloudFormation YAML encapsulated between triple backticks (``` ```)
"""